name: Run API Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: root
          POSTGRES_DB: sogoj
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: |
          cd api
          npm install

      - name: Fix permission for sequelize-cli
        run: chmod +x ./node_modules/.bin/sequelize-cli
        working-directory: api

      - name: Wait for PostgreSQL to be ready
        run: |
          until pg_isready -h localhost -p 5432 -U postgres; do
            echo "Waiting for PostgreSQL..."
            sleep 2
          done

      - name: Setup Database (Sequelize migrations & seeders)
        run: |
          cd api
          NODE_ENV=development npx sequelize-cli db:migrate
          NODE_ENV=development npx sequelize-cli db:seed:all
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: gymtrack
          DB_USER: postgres
          DB_PASSWORD: root

      - name: Start API Server
        run: |
          cd api
          npm run start &
          sleep 5
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: gymtrack
          DB_USER: postgres
          DB_PASSWORD: root
          JWT_SECRET: root
          EMAIL_USER: duducom195@gmail.com
          EMAIL_PASS: rjj

      - name: Run Tests
        run: |
          cd api
          npm test
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: gymtrack
          DB_USER: postgres
          DB_PASSWORD: root
          JWT_SECRET: root
          EMAIL_USER: duducom195@gmail.com
          EMAIL_PASS: rjj
